body {
  margin: 0;
  background: #b4bfd7;
  font-family: Arial, sans-serif;
}

#wrapper {
  width: 85%;
  margin: 20px auto;
  background: white;
  border: 4px solid #233a66;
}

header {
  background: #8ea3c8;
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
}

header .header-img {
  height: 180px;
  margin-right: 20px;
}

header h1 {
  font-size: 55px;
  color: #233a66;
}

#container {
  display: flex;
}

nav {
  width: 20%;
  background: #e4bdd0;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

nav a {
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 5px 10px;
  background: #d4979d;
  border-radius: 5px;
}

nav a.active {
  background: #c78997;
}

section {
  width: 55%;
  padding: 20px 40px;
}

h2 {
  color: #7a8ac6;
  margin-top: 30px;
  font-size: 24px;
}

section p {
  font-size: 16px;
  line-height: 1.4;
}

aside {
  width: 25%;
  padding: 20px;
}

aside img {
  width: 100%;
  border: 3px solid #233a66;
}

footer {
  background: #8ea3c8;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
